<!DOCTYPE html>
<html>
    <head>
        <title>Cheeky Chats</title>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        
        <meta name="viewport" content="width=device_width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
    </head>
    <body>
        <div class="username">
            <form id="newuser">
                <h4>Please enter the username you will use on this site!!</h4>
                <input type="text" autocomplete="off" autofocus placeholder="Name" id="name"><br>
                <input type="submit">
            </form>
        </div>
        <div class="container">
            <div class="row">
                <aside class="col-3 px-0 fixed-top" id="left">
                    <div class="list-group w-100">
                        <h6>Welcome to Cheeky Chats:</h6>
                        <h5></h5>
                        <br><br>
                        <h4>Current chat room: <span id="current"></span></h4>
                        <h3>List of chatrooms:</h3><br>
                        <ul id="listofchats">
                            {% for chat in chats %}
                                <li><a href="" class="nav-link" data-page="{{chat}}">{{chat}}</a></li>
                            {% endfor %}
                        </ul>
                        <form id="newchannel">
                            <p id="warn"></p><br>
                            Start new channel:
                            <input type="text" autocomplete="off" autofocus placeholder="Name" id="channel" value="Create Chat">
                            <input type="submit">
                        </form>
                    </div>
                </aside>
                <main class="col offset-2 h-100">
                    <div class="row bg-white">
                        <div class="col-12 py-4">
                            <div id="messagebar">
                                <form id="newmessage">
                                    Messsage:
                                    <input type="text" autocomplete="off" autofocus placeholder="Message" id="message">
                                    <input type="submit" value="Send Message">  
                                </form>
                                <button id="showpic">Send drawing</button>
                                <div id="picarea">
                                    <svg id="svgtosend" class="svg" style="width:100%; height:100px"/>
                                    <button id="sendpic">Submit</button>
                                    <button id="erase">Erase</button>
                                </div>    
                            </div>    
                            <ul reversed id="chat"></ul>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
    <script>
        const svg = d3.select('.svg');
        let drawing = false;

        function draw_point() {
            if (!drawing)
                return;

         const coords = d3.mouse(this);

        svg.append('circle')
            .attr('cx', coords[0])
            .attr('cy', coords[1])
            .attr('r', 5)
            .style('fill', 'black');
        };

        svg.on('mousedown', () => {
            drawing = true;
        });

        svg.on('mouseup', () => {
            drawing = false;
         });

        svg.on('mousemove', draw_point);
   </script>
</html>